## Listes:

In [3]:
courses = ["bananes", "épices", "pâtes", True, 3, [1,2,3]]
for item in courses:
    print(item)
type(courses)

bananes
épices
pâtes
True
3
[1, 2, 3]

list

In [4]:
len(courses)

6

In [5]:
ajout_courses = ['café', 'laitue']
courses_finales = courses + ajout_courses
courses_finales

['bananes', 'épices', 'pâtes', True, 3, [1, 2, 3], 'café', 'laitue']

In [8]:
courses[1]
courses[5][1]

2

In [9]:
courses[1:3]

['épices', 'pâtes']

In [10]:
courses.append("pommes")
courses

['bananes', 'épices', 'pâtes', True, 3, [1, 2, 3], 'pommes']

In [11]:
courses.insert(1,'fromage')
courses

['bananes', 'fromage', 'épices', 'pâtes', True, 3, [1, 2, 3], 'pommes']

In [15]:
nombres = [1,2,23,24,98,76]
nombres_carres = []
for i in nombres:
    nombres_carres.append(i2)
nombres_carres

[1, 4, 529, 576, 9604, 5776]

In [13]:
# matrice
m = [[5,7,8],[9,2,7]]
m[0][0]

5

In [14]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

5
7
8
9
2
7

In [17]:
for truc in m:
    for col in truc:
        print(col)

5
7
8
9
2
7

In [25]:
# Exercice: Tableau à deux dimensions
datas = [['Jean',42,'Ventes'],['Jacques',12,'École'],['Pierre',5, 'Maternelle']]
for personne in datas:
    print("Nom: ", personne[0])
    print("Age: ",personne[1])
    print("Localisation: ",personne[2])
    print(''  20)
personne_Particuliere = int(input('quelle personne ? [0-2]' ))
print("Nom: ", datas[personne_Particuliere][0])
print("Age: ",datas[personne_Particuliere][1])
print("Localisation: ",datas[personne_Particuliere][2])
print(''  20)

Nom:  Jean
Age:  42
Localisation:  Ventes

Nom:  Jacques
Age:  12
Localisation:  École

Nom:  Pierre
Age:  5
Localisation:  Maternelle

Nom:  Jean
Age:  42
Localisation:  Ventes

In [39]:
fruits = ['pommes', 'oranges', 'kiwi']
quantitees = [3,23,8]
commandes = zip(fruits, quantitees)
dict(commandes)
#tuple(commandes)
#list(commandes)

{'pommes': 3, 'oranges': 23, 'kiwi': 8}

In [40]:
commandes

In [41]:
dict(commandes)

{}