In [2]:
s1 = set([1,2,3,4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [3]:
s2 = {1, 1,1,2,2,2, 3, 4,2,4,4, 5, 6}
s2

{1, 2, 3, 4, 5, 6}

In [4]:
s3 = {5,5,5,6,4,3,2,1,1,1,3,2}
s3

{1, 2, 3, 4, 5, 6}

In [6]:
s1 == s2
s1 == s3

True

In [7]:
s4 = {'jean','jacques', 'pierre'}
s4.add('georges')
s4

{'georges', 'jacques', 'jean', 'pierre'}

In [8]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}
print(s5|s6) # union ==> print(s5.union(s6))

{1, 2, 3, 4, 5, 6}

In [9]:
# intersection
print(s5 & s6) # print(s5.intersection(s6))

{3, 4}

In [11]:
s5.difference(s6)
s5 - s6

{1, 2}

In [15]:
# sous-ensemble de l'autre
s5.issubset(s3)
s5 <= s3

True

In [16]:
# superset
s3.issuperset(s5)
s3 >= s5

True